opencv-python
mediapipe==0.10.21
pyautogui
numpy
keyboard
torch
PyQt6
SpeechRecognition
pynput
noisereduce
librosa
soundfile
google-generativeai>=0.4.0
pocketsphinx
vosk
azure-cognitiveservices-speech
nltk